body{
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
}

.bottom {
    bottom: 0;
    position: absolute;
}

.homeLine {    
    color: #fff;    
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
}

.iconFormat {
    width:  35px !important;
    margin-right: 16px;
}

.bigText {
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;    
}

.loginLine {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;    
    top: 20px;
    width: 100%;
    margin: 0 auto;    
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
}

.margin-right-left {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1237px) {
    .loginLine {
        display: none !important;
    }
}

.homeButton {
    border-bottom-left-radius: 9999px !important; 
    border-bottom-right-radius: 9999px !important;
    border-top-right-radius: 9999px !important;
    border-top-left-radius: 9999px !important;
}

.fullWidth {
    width: 100%
}

.marginHome {    
    margin-bottom: 10px;
}

.maginBottomHomeButton {
    margin-bottom: 70px;
}

.smallHeight {
    height: 50px;
}

.loginButton {
    background-color: white !important;
    color: green !important;
    border: 1px solid green !important;
}

.alignChromeItems {
    align-items: center;
}