.mainHeader {    
    color: black;
    height: 150px;    
    text-align: center;    
}

.mainHeaderText {
    font-weight: bold;
    font-size: 18px;
}

.mainHeaderLogOutButton {
    background-color: rgb(160, 86, 86) !important;
    
}